@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa-solid fa-phone my-3"></i>
        +905061111111
    </div>
</div>
